@charset "UTF-8";
:root {
    --mainColor: #333;
    --fontSize: 1.1rem;
}
body {
    color: var(--mainColor);
    font-size: calc(var(--fontSize)*2);
}
.display-flex {
    display: flex;
}
p{
    width: 100px;
    height: 200px;
    border:1px solid red;
}
div{
    height: 600px;
    width: 100px;
    border: 1px solid #CCCCCC;
}
.content .top_box_33{
    width: 32.6%;
    float: left;
    margin-left: 1%;
    box-sizing: border-box;
    background: white;
    box-shadow: 0 0 10px rgba(165, 177, 193, 0.6);
    /*box-shadow: 0 0 10px rgb(208, 77, 77);*/
    overflow: hidden;
}